<%- include('partials/header'); -%>

  <header id="page_header">
    <div class="container-fluid">
      <div class="row me animated fadeIn">
		  
        <div class="col-xs-offset-5 col-sm-offset-6 col-xs-7 col-sm-6">
          <div class="tagline">Let's build for peace</div>
          <div class="tagline tagline-lg animated fadeIn">One Brick</div>
          <div class="tagline tagline-lg animated fadeIn">At a Time</div>
          <div class="animated fadeIn"></div>
        </div>
		  
      </div>
    <div id="down" class="animated infinite slideInDown">
        <i class="fa fa-chevron-circle-down fa-5x" aria-hidden="true"></i>
      </div>
    </div>
  </header>


  <!-- about page -->
  <section class="div_text_left container-fluid">

    <div class="row section-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="line left"></span>
          <span class="section-title left">What it is</span>
          <span class="line left"></span>
        </div>
      </div>
    </div>


    <div class="row max">
		
	<div class="col-sm-6">
        <div class="div_text">
          <p>One brick at a time is a <strong>imersive, augmented reality based, plattform</strong> for us to connect worldwide.</p>
        </div>
      </div>
	
	<div class="col-sm-6 text-center">
        <div class="div_img">
          <img src="https://i.imgur.com/3EefCcP.png" alt="looking at phone" width="300px" height="300px">
        </div>
      </div>

    </div>


  </section>


  <!-- How page -->
  <section class="div_text_right container-fluid">

    <div class="row section-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="line right"></span>
          <span class="section-title right">How it is done</span>
          <span class="line right"></span>
        </div>
      </div>
    </div>


    <div class="row max">
		<div class="col-sm-6 text-center">
        <div class="div_img">
         <video width="399" height="240" autoplay loop>
  			<source src="https://developers.google.com/maps/images/gaming/CUSTOMIZATION.mp4" type="video/mp4">
				Your browser does not support the video tag.
		</video>
        </div>
      </div>
		
      <div class="col-sm-6 ">
        <div class="div_text">
          <p><strong>Google Maps Platform</strong> has an API with 3D mapping and street view covering most of the world. <br>
			 Using this as a canvas, our users will be able to redesign their homes however they would like</p>
			<a class="button"
				   href="https://cloud.google.com/maps-platform/gaming"
				   target="_blank">
				<span>The API</span>
				</a>
        </div>
      </div>
    </div>
</section>
	  
	  
	  
<!-- Main Point page -->
  <section class="div_text_left main_point container-fluid">

    <div class="row section-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="line left"></span>
          <span class="section-title left">The Main Point</span>
          <span class="line left"></span>
        </div>
      </div>
    </div>


    <div class="row max">
		
	<div class="col-sm-6">
        <div class="div_text">
          <p>We can use this platform to rebuild war torn neighborhoods <br>
			 making a distinct difference between of <strong>war</strong> and the <strong>dreams of people</strong> stuck in it.
		  </p>
        </div>
      </div>
	
	<div class="col-sm-6 text-center">
        <div class="div_img">
			<div class="before_after_img">
			  <div class="before">
				<img class="content-image" 
					 src="https://news.channel4.com/livepages/2015/02/aleppo-before-after/img/umayya-after2.jpg" 
					 draggable="false"/>   
			  </div>
			  <div class="after">
				<img class="content-image" 
					 src="https://news.channel4.com/livepages/2015/02/aleppo-before-after/img/umayya-before2.jpg" 
					 draggable="false"/>
			  </div>
			  <div class="scroller">
				<svg class="scroller__thumb" 
					 xmlns="http://www.w3.org/2000/svg" 
					 width="100" 
					 height="100" 
					 viewBox="0 0 100 100">
					<polygon points="0 50 37 68 37 32 0 50" style="fill:#fff"/>
					<polygon points="100 50 64 32 64 68 100 50" style="fill:#fff"/>
				 </svg>
			  </div>
			</div>
        </div>
      </div>
	  
  </section>
	  
	
<!-- Peace page -->
  <section class="div_text_right container-fluid">

    <div class="row section-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="line right"></span>
          <span class="section-title right">Create change</span>
          <span class="line right"></span>
        </div>
      </div>
    </div>


    <div class="row max">
		<div class="col-sm-6 text-center">
        <div class="div_img">
         <img src="https://www.un.org/sustainabledevelopment/wp-content/uploads/2019/08/DG-logo-with-UN-Emblem_Square_Web_transparent.png" alt="UN" width="300px" height="300px">
        </div>
      </div>
		
      <div class="col-sm-6">
        <div class="div_text">
          <p><strong class="strong-lg">Goal 16:</strong> <strong>Peace, justice and strong institutions</strong><br>
			  This app coud be a tool to start a discussion<br>
			  just as the <strong>#metoo</strong> and <strong>#blacklivesmatter</strong> movements<br><br>
			  we will start <strong class="strong-lg">#onebrick</strong> <br><br>
			  the movement that will unite us on the common ground <br>
			  that we all wish for <strong>security, stability and a home</strong>.
			  </p>
        </div>
      </div>
    </div>
</section>
	  
	  
 <!-- end page -->
  <section id="page_end" class="container-fluid">

    <div class="row max">
		
	<div class="col-sm-12 text-center">
        <div class="div_text">
			  <p id="text_end"><strong>And we will get there</strong></p>
			<img src="https://i.imgur.com/Eq6nnaD.png?1">
        </div>
      </div>

    </div>

  </section>

	  
	  
	  
	  
	  
	  
	  
	  

  <!-- contact page -->
  <section class="container-fluid">

    <div class="row end-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="section-title ">HI Application 2020</span>
        </div>
		  <div>
			  <span class="section-title ">Sandra Jonsson</span>
		  </div>
      </div>
    </div>

  </section>


	  
    <!-- footer for social links -->
    <footer id='social-footer'>


        <ul>

            <li class='highlight'>
                <a class="fa-stack fa-1x" data-toggle="tooltip" title="Email" data-placement="top" href="mailto:sa.jonsson00@gmail.com">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x blacktext"></i>
                </a>
            </li>

            <li class='highlight'>
                <a class="fa-stack fa-1x" data-toggle="tooltip" title="Linkedin" data-placement="top" href="https://www.linkedin.com/in/sandra-jonsson-859228194/" target="_blank"><i class="fa fa-linkedin-square fa-stack-2x"></i></a>
            </li>


            <li class='highlight'>
                <a class="fa-stack fa-1x" data-toggle="tooltip" title="GitHub" data-placement="top" href="https://github.com/AvocTos" target="_blank"><i class="fa fa-github-square fa-stack-2x"></i></a>
            </li>

			
            <li class='highlight'>
                <a class="fa-stack fa-1x" data-toggle="tooltip" title="CodePen" data-placement="top" href="https://codepen.io/Avoctos" target="_blank">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-codepen fa-stack-1x blacktext"></i>
                </a>
            </li>

        </ul>



        <div class="text-center copyright">
        </div>


    </footer>

 <script src="scripts/about.js"></script>
	  
<%- include('partials/footer'); -%>