<%- include('partials/header'); -%>

<div class="parallax">
    <div class="parallax__layer parallax__layer__0">
        <img src="https://i.imgur.com/0o36emN.png?1" />
    </div>
    <div class="parallax__layer parallax__layer__1">
        <img src="https://i.imgur.com/Axds8QU.png" />
    </div>
    <div class="parallax__layer parallax__layer__2">
        <img src="https://i.imgur.com/Z0VHB7R.png" />
    </div>
    <div class="parallax__layer parallax__layer__3">
        <img src="https://i.imgur.com/guDudAZ.png" />
    </div>
    <div class="parallax__layer parallax__layer__4">
        <img src="https://i.imgur.com/NSsLgGn.png" />
    </div>
    <div class="parallax__layer parallax__layer__5">
        <img src="https://i.imgur.com/EeulwgU.png" />
    </div>
    <div class="parallax__layer parallax__layer__6">
        <img src="https://i.imgur.com/wr1tvgy.png" />
    </div>
    <div class="parallax__cover">
	<section id="content_section">
		<div class="img">
        <img src="https://i.imgur.com/aGIHgKW.png" />
    </div>
		<div class="img">
        <img src="https://i.imgur.com/YyM7eko.png" />
    </div>
		<div class="img">
        <img src="https://i.imgur.com/X4uf8Fp.png" />
    </div>
		<div class="img">
        <img src="https://i.imgur.com/gyJ8XQA.png" />
    </div>
		<div id="last_img" class="img">
        <img src="https://i.imgur.com/KF9zUT5.png" />
			<div class="socialIcons text-center">
				<a class="icon_button" 
				   href="/about"
				   target="_blank">
				<i class="far fa-hand-point-up"></i>
				<span>Click me!</span>
				</a>
		<h1 class="text">
			Click the phone!
				</h1>
    </div>

		
		
<!-- 		
			<div>
				<h1 class="text">
					Everyone deserves a home <br>
					a safe place to live and laugh
				</h1>
			</div>

			<div>
				<h1 class="text">
					But there are sometimes large forces <br>
					that strip away all we have without mercy <br>
					<br>
				</h1>
			</div>
			<div>
				<h1 class="text">
					Alone, fighting for change might proove futile <br>
					But as connected we are in this day and age<br>
					we are <strong>never</strong> truly alone
				</h1>
			</div>
			<div>
				<h1 class="text">
					War, conflicts and man made climate change <br>
					are some of the big villains <br>
					affecting milions around the globe<br>
					miliions without the tools, time, or organisation to make a difference.
				</h1>
			</div>
			<div>
				<h1 class="text">
					One brick at a time is a platform for the masses <br>
					where the individuals contribution will fuel discussions for a better future. <br>
					using Augmented reality we will rebuild, remake and re-live a possible tomorrow <br>
					of destroyed neighborhoods, shools and homes<br>
				</h1>
			</div>
			<div>
				<h1 class="text">
					Sharing and showing the world<br>
					what <strong>we</strong> would love to live
				</h1>
			</div>
		
		<div>
				<h1 class="text">
					and we will get there <br>
					<strong>One Brick at a Time</strong>
				</h1>
			</div> -->
		</section>
	</div>
</div>


<%- include('partials/footer'); -%>